* {
    margin: 0;
    padding: 0;
}

.header {
    background: rgb(70,26,134);
    background: linear-gradient(90deg, rgba(70,26,134,0.5) 0%, rgba(54,186,255,.5) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

.header-logo-wrap {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.navigation-warp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-left: 5rem;
}

.header-logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 55px;
    margin: 0 20%;
    border: white 5px solid;
}

.header-btn-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-btn {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 25px;
    color: white;
    padding: 1rem;

    border-bottom: 5px solid transparent;
    
    /* center */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: ease-in-out 0.3s;
    
}

.header-btn:hover {
    border-bottom: 5px solid white;
}